<%- include('partials/header') %>
<div class="container">
  <h1
    class="display-1 row h-100 justify-content-center align-items-center mt-4"
  >
    500
  </h1>
  <h2
    class="display-2 row h-100 justify-content-center align-items-center mt-4"
  >
    Something went wrong!!
  </h2>
</div>
<%- include('partials/footer') %>
