<%- include('partials/header') %>

<div class="container">
  <h1 class="row h-100 justify-content-center align-items-center mt-4">
    Welcome to Super Team Picker!!
  </h1>
</div>

<%- include('partials/footer') %>
